.post {
  margin-bottom: 92px;
  display: flex;
}

.post__ava {
  width: 58px;
  height: 58px;
  border-radius: 50%;
}

.post__info {
  padding-left: 36px;
}

.post__message {
  color: #47525e;
  font-size: 26px;
  line-height: 33px;
  vertical-align: top;
}

.post__like {
  color: #47525e;
  font-size: 22px;
  line-height: 30px;
  padding-top: 20px;
}
