.menu {
  grid-area: m;
  width: 284px;
  height: 65vh;
  background-color: #13ce66;
  font-size: 34px;
  line-height: 44px;
  padding: 13px 18px;
}

.list__item:nth-child(5) {
  margin-top: 60px;
  margin-bottom: 60px;
}

.list__link {
  color: #fff;
  text-decoration: none;
  position: relative;
  display: block;
}

.list__link.special {
  font-size: 50px;
  line-height: 65px;
  font-weight: 300;
}

.list__link.active {
  color: gold;
}

.list__link.active::before {
  background-color: gold;
}

.list__link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: #fff;
  transition: 0.5s;
  transform: scale(0);
  transform-origin: left;
}

.list__link:hover::before {
  transform: scale(1);
}
