.user__background {
  height: 224px;
  max-width: 1100px;
  width: 100%;
}

.user__main {
  margin-top: 21px;
  margin-bottom: 9px;
  display: flex;
}

.user__ava {
  width: 165px;
  height: 165px;
}

.user__description {
  margin-left: 45px;
}

.user__name {
  color: #47525e;
  margin-bottom: 37px;
  font-size: 40px;
  line-height: 45px;
  font-weight: normal;
}

.user__info {
  color: #47525e;
  font-size: 26px;
  line-height: 33px;
}

.info__item {
  font-weight: 600;
}

.info__item p {
  font-weight: normal;
  display: inline-block;
}

.status__input {
  outline: none;
}

.contacts {
  padding-left: 25px;
}

.contactTitle {
  font-weight: 500;
}

.fullName {
  font-size: 30px;
  padding: 5px;
  line-height: 45px;
}

.lookingForAJob {
  display: inline-block;
}

.lookingForAJobBox {
  width: 17px;
  height: 17px;
}

.contactValue,
.aboutMe,
.lookingForAJobDescription {
  resize: none;
  outline: none;
  font-size: 20px;
}

.editBtn,
.saveBtn {
  background-color: #0cb658;
  padding: 5px 10px;
  font-size: 20px;
  line-height: 33px;
  border: 0;
  outline: 0;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.editBtn {
  width: 100%;
}
